@import 'style/_reset.scss';
@import 'style/_theme.scss';

.navbar-link {
  @extend .link-reset;
  font-size: 1.4em;
  font-weight: bold;
  margin: 0px 15px;
  text-decoration: none;
  transition: color 0.2s ease-out;
}
.navbar-links {
  position: absolute;
  right: 5px;
}
.navbar_theme-dark a.navbar-link:link {
  color: $primary-light;
}
.navbar_theme-dark a.navbar-link:visited {
  color: $primary-light;
}
.navbar_theme-dark a.navbar-link:hover {
  color: $accent;
}
.navbar_theme-transparent a.navbar-link:link {
  color: $primary-dark;
}
.navbar_theme-transparent a.navbar-link:visited {
  color: $primary-dark;
}
.navbar_theme-transparent a.navbar-link:hover {
  color: $accent;
}
