@import 'style/_fonts.scss';
@import 'style/_theme.scss';

.blog {
  display: flex;
  font-family: $default-font;
  justify-content: center;
  min-height: 100vh;
}
@media print {
  .blog {
    background-color: unset;
    color: black;
    font-size: 12px;
  }
}
@media screen {
  .blog {
    background-color: $light-2;
  }
}
