@import 'style/_fonts.scss';
@import 'style/_theme.scss';

.Blog-container {
  background-color: $light-2;
  display: flex;
  font-family: $default-font;
  justify-content: center;
  min-height: 100vh;
}
