@import 'style/_fonts.scss';
@import 'style/_theme.scss';

.cv {
  align-items: center;
  background-color: $light-2;
  background-image: url('../assets/png/wine-cork.png');
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 30px);
  padding: 10px 20px 20px 20px;
}
.cv__inner {
  font-family: $default-font;
  max-width: 1000px;
  width: 100%;
}
.cv__inner > div:not(:last-child) {
  margin-bottom: 20px;
}
.cv__section-heading {
  border-bottom: 2px solid $primary-dark;
  font-family: $title-font;
  font-size: 1.2em;
  margin-bottom: 10px;
  padding-left: 2px;
  text-transform: uppercase;
}
@media print {
  .cv {
    background-color: unset;
    color: black;
    font-size: 12px;
  }
  .cv__inner {
    margin-top: 0;
  }
  .cv__email {
    color: black;
    display: inline;
    text-decoration: none;
  }
  .cv__email:after {
    content: ": knightjdr@gmail";
  }
}
@media screen {
  .cv {
    background-color: $light-2;
  }
  .cv__inner {
    margin-top: 50px;
  }
  .cv__email {
    color: $primary-medium;
    text-decoration: none;
  }
}
