@import 'style/_theme.scss';

.cv__publications h3 {
  border-bottom: 1px solid $primary-medium;
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  margin: 0;
}
.cv__publications h3:not(:first-child) {
  margin-top: 20px;
}
.cv__publications ol {
  list-style: none;
  padding-left: 0;
}
.cv__publications ol li {
  margin: 8px 0;
}
.cv__publications-inner {
  padding: 0 5px;
  text-align: justify;
}
.cv__publications-journal {
  font-style: italic;
  font-weight: bold;
  margin: 0 3px;
}

@media (max-width: 600px) {
  .cv__publications-inner {
    text-align: left;
  }
}
