.blog-archive__banner-cloud1 {
  animation: cloud1 28s linear infinite;
}
.blog-archive__banner-cloud2 {
  animation: cloud2 30s linear infinite;
  transform: translateX(90px);
}
.blog-archive__banner-cloud3 {
  animation: cloud2 34s linear infinite;
}
.blog-archive__banner-smoke {
  animation: smoke 16s ease-out infinite;
  transform: scale(0) translate(0, 10px);
}
.blog-archive_banner-left {
  min-height: 400px;
}
.blog-archive_banner-right {
  margin-left: auto;
  min-height: 400px;
}
.blog-archive__banner-left-svg0 {
  fill: #4D97CB;
}
.blog-archive__banner-left-svg1 {
  fill:#1A405F;
}
.blog-archive__banner-left-svg2 {
  fill:#F8F1E5;
}
.blog-archive__banner-left-svg3 {
  fill:#337BAE;
}
.blog-archive__banner-right-svg0 {
  fill: #4D97CB;
}
.blog-archive__banner-right-svg1 {
  fill: #1A405F;
}
.blog-archive__banner-right-svg2 {
  fill: #F8F1E5;
}
.blog-archive__banner-right-svg3 {
  fill: #98BCBF;
}
.blog-archive__banner-right-svg5 {
  fill: #337BAE;
}
.blog-archive__banner-right-windmill * {
  fill: #337BAE;
}
.blog-archive__banner-right-windmill1_transform-rotate {
  animation: spin 5s linear infinite;
  transform-origin: 125px 265px;
}
.blog-archive__banner-right-windmill2_transform-rotate {
  animation: spin 5s linear infinite;
  transform-origin: 339px 219px;
}
@keyframes cloud1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes cloud2 {
  0% {
    transform: translateX(90px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(90px);
  }
}
@keyframes cloud3 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(120px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes smoke {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg)
  }
}
/* Banner images */
@media (max-width: 679px) {
  .blog-archive_banner-right {
    left: 287px;
    position: absolute;
  }
}
