@import 'style/_fonts.scss';
@import 'style/_theme.scss';

.navbar {
  height: 40px;
  line-height: 40px;
  padding: 0px 10px;
  width: calc(100vw - 20px);
  z-index: 10;
}
.navbar_position-top {
  left: 0;
  top: 0;
}
.navbar_theme-dark {
  background-color: $navbar;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.navbar_theme-transparent {
  background-color: transparent;
}
@media print {
  .navbar {
    display: none;
  }
}
@media screen {
  .navbar {
    display: inline;
  }
}
