@import 'style/_fonts.scss';
@import 'style/_theme.scss';

.Navbar {
  height: 40px;
  left: 0;
  line-height: 40px;
  padding: 0px 10px;
  position: absolute;
  top: 0;
  width: calc(100vw - 20px);
  z-index: 10;
}
.Navbar-default {
  background-color: $navbar;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.Navbar-link {
  font-family: $default-font;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0px 5px;
  text-decoration: none;
  transition: color 0.3s linear;
}
.Navbar-default a.Navbar-link:link {
  color: $primary-light;
}
.Navbar-default a.Navbar-link:visited {
  color: $primary-light;
}
.Navbar-default a.Navbar-link:hover {
  color: $accent;
}
.Navbar-link-container {
  position: absolute;
  right: 10px;
}
.Navbar-logo {
  height: 30px;
  margin-top: -5px;
}
.Navbar-logo-link {
  float: left;
}
.Navbar-transparent {
  background-color: transparent;
}
.Navbar-transparent a.Navbar-link:link {
  color: $primary-dark;
}
.Navbar-transparent a.Navbar-link:visited {
  color: $primary-dark;
}
.Navbar-transparent a.Navbar-link:hover {
  color: $accent;
}
