@import 'style/_reset.scss';
@import 'style/_theme.scss';

.timeline__button {
  @extend .button-reset;
  background-color: $primary-light;
  border-radius: 50%;
  color: transparent;
  height: 50px;
  position: absolute;
  top: 5px;
  transform: scale(1);
  transition: background 0.3s, transform 0.3s;
  width: 50px;
}
.timeline__button::after {
  background-repeat: no-repeat;
  content: " ";
  display: inline-block;
  height: 30px;
  position: relative;
  top: 2px;
  width: 30px;
}
.timeline__button-bg {
  background: linear-gradient(to right, $primary-light 0, $primary-light 61px, $primary-dark 61px, $primary-dark 122px, $primary-light 122px, $primary-light 183px);
  background-size: 183px 100%;
  border-radius: 50%;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  height: 60px;
  position: absolute;
  top: 0;
  transition-duration: 0.3s;
  transition-property: background;
  transition-timing-function: linear;
  width: 60px;
}
.timeline__button-career {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  right: 0;
}
.timeline__button-career::after {
  background-image: url("./assets/briefcase.svg");
  height: 34px;
  left: 50%;
  margin-left: -17px;
  position: absolute;
  top: 6px;
  width: 34px;
}
.timeline__button-career-bg {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  right: 0;
}
.timeline__button-education {
  left: 5px;
}
.timeline__button-education::after {
  background-image: url("./assets/school.svg");
  height: 34px;
  left: 50%;
  margin-left: -17px;
  position: absolute;
  top: 8px;
  width: 34px;
}
.timeline__button-education-bg {
  left: 0;
}
.timeline__button-publication {
  right: 5px;
}
.timeline__button-publication::after {
  background-image: url("./assets/book.svg");
  height: 32px;
  left: 50%;
  margin-left: -15px;
  position: absolute;
  top: 8px;
  width: 32px;
}
.timeline__button-publication-bg {
  right: 0;
}
.timeline__button_transition-center {
  background-position: 122px center;
}
.timeline__button_transition-end {
  transition-delay: 0.45s;
}
.timeline__button_transition-inter {
  transition-delay: 0.225s;
}
.timeline__button_transition-left {
  background-position: 61px center;
}
.timeline__button_transition-right {
  background-position: 183px center;
}
.timeline__button_transition-start {
  transition-delay: 0s;
}
.timeline__buttons {
  height: 60px;
  position: relative;
}
.timeline__connector {
  height: 6px;
  position: absolute;
  top: 25px;
  transition-duration: 0.6s;
  transition-property: background;
  transition-timing-function: linear;
}
.timeline__connector-left {
  left: 60px;
}
.timeline__connector_transition-end {
  transition-delay: 0.3s;
}
.timeline__connector_transition-start {
  transition-delay: 0s;
}
@media (min-width: 800px) {
  .timeline__buttons {
    min-width: 600px;
  }
  .timeline__connector {
    background: linear-gradient(to right, $transparent 0px, $transparent 212px, $primary-dark 212px, $primary-dark 424px, $transparent 424px, $transparent 636px);
    background-size: 636px 100%;
    width: 210px;
  }
  .timeline__connector-right {
    left: 330px;
  }
  .timeline__connector_transition-left {
    background-position: 636px center;
  }
  .timeline__connector_transition-right {
    background-position: 212px center;
  }
}
@media (min-width: 500px) and (max-width: 799px) {
  .timeline__buttons {
    min-width: 400px;
  }
  .timeline__connector {
    background: linear-gradient(to right, $transparent 0px, $transparent 112px, $primary-dark 112px, $primary-dark 224px, $transparent 224px, $transparent 336px);
    background-size: 336px 100%;
    width: 110px;
  }
  .timeline__connector-right {
    left: 230px;
  }
  .timeline__connector_transition-left {
    background-position: 336px center;
  }
  .timeline__connector_transition-right {
    background-position: 112px center;
  }
}
@media (max-width: 499px) {
  .timeline__buttons {
    min-width: 280px;
  }
  .timeline__connector {
    background: linear-gradient(to right, $transparent 0px, $transparent 52px, $primary-dark 52px, $primary-dark 104px, $transparent 104px, $transparent 156px);
    background-size: 156px 100%;
    width: 50px;
  }
  .timeline__connector-right {
    left: 170px;
  }
  .timeline__connector_transition-left {
    background-position: 156px center;
  }
  .timeline__connector_transition-right {
    background-position: 52px center;
  }
}
// Button hover color on small screens.
@media (min-width: 680px) {
  .timeline__button:focus,
  .timeline__button:hover {
    background: $primary-dark;
    transform: scale(1.2);
  }
}
