@import 'style/_fonts.scss';
@import 'style/_theme.scss';

.about {
  background-color: $light-2;
  font-family: $cursive-font;
  font-size: 1.1em;
  padding: 40px 30px;
}
.about__details {
  max-width: 1000px;
  text-align: justify;
}
.about__inner {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.about__title {
  font-family: $default-font;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}
.about__title:before {
  content : '';
  position: absolute;
  left    : 12.5%;
  bottom  : 0;
  height  : 2px;
  width   : 75%;
  border-bottom: 2px solid $text-dark;
}
