@import 'style/_fonts.scss';
@import 'style/_theme.scss';

.Timeline {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  max-width: 1000px;
}
.Timeline-buttons {
  height: 60px;
  position: relative;
}
.Timeline-button {
  background-color: $primary-light;
  border: none;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  top: 5px;
  transform: scale(1);
  transition: background 0.3s, transform 0.3s;
  width: 50px;
}
.Timeline-button::after {
  background-repeat: no-repeat;
  content: " ";
  display: inline-block;
  height: 30px;
  position: relative;
  top: 2px;
  width: 30px;
}
.Timeline-button:focus {
  outline: 0;
}
.Timeline-connector {
  height: 6px;
  position: absolute;
  top: 25px;
  transition-duration: 0.6s;
  transition-property: background;
  transition-timing-function: linear;
}
.Timeline-connector-left {
  left: 60px;
}
.Timeline-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: $default-font;
  margin-top: 30px;
  max-width: 1000px;
  overflow-x: hidden;
  width: calc(100vw - 60px);
}
.Timeline-expander {
  position: absolute;
  text-align: center;
  top: 2px;
}
.Timeline-expander-button {
  background-color: transparent;
  border: none;
  border-radius: 6px;
  box-shadow: none;
  color: #9E9E9E;
  cursor: pointer;
  height: auto;
  transition: all 0.5s;
  width: auto;
}
.Timeline-expander-button:focus {
  outline: 0;
}
.Timeline-item {
  position: relative;
}
.Timeline-item-container {
  position: relative;
}
.Timeline-item-container::before {
  border-left: 5px solid $primary-medium;
  content: '';
  display: block;
  height: calc(100% - 20px);
  left: 8px;
  pointer-events: none;
  position: absolute;
  top: 5px;
}
.Timeline-item-content {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 28px;
  margin-right: 15px;
  overflow: hidden;
}
.Timeline-item-details {
  font-size: 0.9em;
  text-align: justify;
}
.Timeline-item-end::before {
  background-color: $primary-medium;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 15px;
  margin-left: 3px;
  margin-right: 8px;
  vertical-align: -3px;
  width: 15px;
}
.Timeline-item-img {
  max-height: 180px;
  width: 180px;
}
.Timeline-item-title {
  font-size: 1.2em;
}
.Timeline-item-year {
  color: $primary-medium;
  font-family: $default-font;
  font-size: 1em;
  margin-bottom: 5px;
  margin-right: auto;
  padding: 0;
  z-index: 5;
}
.Timeline-item-year::before {
  background-color: $primary-medium;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 19px;
  margin-left: 1px;
  margin-right: 8px;
  vertical-align: -3px;
  width: 19px;
}
.Timeline-item-container .Timeline-item:not(:last-child) {
  margin-bottom: 20px;
}
.Timeline-outer-button {
  background: linear-gradient(to right, $primary-light 0, $primary-light 61px, $primary-dark 61px, $primary-dark 122px, $primary-light 122px, $primary-light 183px);
  background-size: 183px 100%;
  border-radius: 50%;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  display: inline;
  height: 60px;
  position: absolute;
  transition-duration: 0.3s;
  transition-property: background;
  transition-timing-function: linear;
  width: 60px;
}
.Timeline-career-outer,
.Timeline-career-button {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  right: 0;
}
.Timeline-career-button::after {
  background-image: url("./assets/briefcase.svg");
  top: -1px;
}
.Timeline-education-outer {
  left: 0;
}
.Timeline-education-button {
  left: 5px;
}
.Timeline-education-button::after {
  background-image: url("./assets/school.svg");
  height: 35px;
  width: 35px;
}
.Timeline-panel {
  transition: opacity 0.225s linear;
  width: calc(100vw - 40px);
}
.Timeline-panel-container {
  display: flex;
  transition: transform 0.6s linear;
  width: 300%;
}
.Timeline-publication-outer {
  right: 0;
}
.Timeline-publication-button {
  right: 5px;
}
.Timeline-publication-button::after {
  background-image: url("./assets/book.svg");
  left: 2px;
  top: 0px;
}
.Timeline-section-title {
  border-bottom: 1px solid #BDBDBD;
  font-size: 1.1em;
  margin: 0 30px 30px 0;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
// Animate button background.
.Timeline-button-left-transition {
  background-position: 61px bottom;
}
.Timeline-button-center-transition {
  background-position: 122px bottom;
}
.Timeline-button-right-transition {
  background-position: 183px bottom;
}
.Timeline-button-end-transition {
  transition-delay: 0.45s;
}
.Timeline-button-inter-transition {
  transition-delay: 0.225s;
}
.Timeline-button-start-transition {
  transition-delay: 0s;
}
.Timeline-connector-end-transition {
  transition-delay: 0.3s;
}
.Timeline-connector-start-transition {
  transition-delay: 0s;
}
// button color.
@media (max-width: 679px) {
  .Timeline-button {
    cursor: default;
  }
}
@media (min-width: 680px) {
  .Timeline-button {
    cursor: pointer;
  }
  .Timeline-button:hover {
    background: $primary-dark;
    transform: scale(1.2);
  }
}
// Connector size
@media (min-width: 800px) {
  .Timeline-buttons {
    min-width: 600px;
  }
  .Timeline-connector {
    background: linear-gradient(to right, $transparent 0px, $transparent 212px, $primary-dark 212px, $primary-dark 424px, $transparent 424px, $transparent 636px);
    background-size: 636px 100%;
    width: 210px;
  }
  .Timeline-connector-left-transition {
    background-position: 636px bottom;
  }
  .Timeline-connector-right {
    left: 330px;
  }
  .Timeline-connector-right-transition {
    background-position: 212px bottom;
  }
}
// Connector size.
@media (min-width: 500px) and (max-width: 799px) {
  .Timeline-buttons {
    min-width: 400px;
  }
  .Timeline-connector {
    background: linear-gradient(to right, $transparent 0px, $transparent 112px, $primary-dark 112px, $primary-dark 224px, $transparent 224px, $transparent 336px);
    background-size: 336px 100%;
    width: 110px;
  }
  .Timeline-connector-left-transition {
    background-position: 336px bottom;
  }
  .Timeline-connector-right {
    left: 230px;
  }
  .Timeline-connector-right-transition {
    background-position: 112px bottom;
  }
}
// Connector size.
@media (max-width: 499px) {
  .Timeline-buttons {
    min-width: 280px;
  }
  .Timeline-connector {
    background: linear-gradient(to right, $transparent 0px, $transparent 52px, $primary-dark 52px, $primary-dark 104px, $transparent 104px, $transparent 156px);
    background-size: 156px 100%;
    width: 50px;
  }
  .Timeline-connector-left-transition {
    background-position: 156px bottom;
  }
  .Timeline-connector-right {
    left: 170px;
  }
  .Timeline-connector-right-transition {
    background-position: 52px bottom;
  }
}
// Timeline content.
@media (min-width: 700px) {
  .Timeline-item-container {
    margin-left: 20px;
  }
  .Timeline-item-content {
    flex-wrap: nowrap;
  }
  .Timeline-item-details {
    flex-grow: 1;
    max-width: 700px;
  }
  .Timeline-expander {
    left: calc(50% - 28px);
  }
  .Timeline-item-img {
    margin-left: 30px;
  }
  .Timeline-item-img-container {
    margin-top: 20px;
  }
}
@media (max-width: 699px) {
  .Timeline-item-container {
    margin-left: 0;
  }
  .Timeline-item-content {
    flex-wrap: wrap-reverse;
  }
  .Timeline-item-details {
    flex-grow: 1;
    max-width: 500px;
  }
  .Timeline-expander {
    left: calc(50% - 18px);
  }
  .Timeline-item-img {
    margin: 5px 0;
  }
  .Timeline-item-img-container {
    margin-bottom: 15px;
    margin-top: 0;
  }
}
// Expander button
@media (min-width: 500px) {
  .Timeline-expander {
    display: block;
    position: absolute;
  }
  .Timeline-expander-button {
    padding: 5px 10px;
  }
  .Timeline-expander-button:hover {
    background-color: #E0E0E0;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 499px) {
  .Timeline-expander {
    display: inline;
    left: 0;
    position: relative;
  }
  .Timeline-expander-button {
    padding: 0 2px;
  }
}
