@import 'style/_fonts.scss';
@import 'style/_theme.scss';

.Timeline {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.Timeline-buttons {
  height: 60px;
  position: relative;
}
.Timeline-button {
  background-color: $light-2;
  background-position: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  position: absolute;
  top: 5px;
  transition: background 0.3s;
  width: 50px;
}
.Timeline-button::after {
  background-repeat: no-repeat;
  content: " ";
  display: inline-block;
  height: 30px;
  position: relative;
  top: 2px;
  width: 30px;
}
.Timeline-button:focus {
  outline: 0;
}
.Timeline-connector {
  height: 6px;
  position: absolute;
  top: 25px;
  transition-duration: 0.6s;
  transition-property: background;
  transition-timing-function: linear;
}
.Timeline-connector-left {
  left: 60px;
}
.Timeline-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: $default-font;
  margin-top: 30px;
}
.Timeline-item-container {
  position: relative;
}
.Timeline-item-container::before {
  border-left: 5px solid $primary-medium;
  content: '';
  display: block;
  left: 7.5px;
  position: absolute;
  top: 5px;
  height: calc(100% - 20px);
}
.Timeline-item-content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: 28px;
}
.Timeline-item-details-container {
  font-size: 0.9em;
  margin-right: 40px;
  max-width: 600px;
  min-width: 250px;
  text-align: justify;
}
.Timeline-item-end::before {
  background-color: $primary-medium;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 15px;
  margin-left: 3px;
  margin-right: 8px;
  vertical-align: -3px;
  width: 15px;
}
.Timeline-item-img {
  width: 200px;
}
.Timeline-item-title {
  font-size: 1.2em;
  margin-bottom: 20px;
}
.Timeline-item-year {
  color: $primary-medium;
  margin-bottom: 5px;
  margin-right: auto;
}
.Timeline-item-year::before {
  background-color: $primary-medium;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 20px;
  margin-right: 8px;
  vertical-align: -3px;
  width: 20px;
}
.Timeline-outer-button {
  background: linear-gradient(to right, $light-2 0, $light-2 61px, $primary-light 61px, $primary-light 122px, $light-2 122px, $light-2 183px);
  background-size: 183px 100%;
  border-radius: 50%;
  display: inline;
  height: 60px;
  position: absolute;
  transition-duration: 0.3s;
  transition-property: background;
  transition-timing-function: linear;
  width: 60px;
}
.Timeline-career-outer,
.Timeline-career-button {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  right: 0;
}
.Timeline-career-button::after {
  background-image: url("./assets/briefcase.svg");
  top: -1px;
}
.Timeline-education-outer {
  left: 0;
}
.Timeline-education-button {
  left: 5px;
}
.Timeline-education-button::after {
  background-image: url("./assets/school.svg");
  height: 35px;
  width: 35px;
}
.Timeline-publication-outer {
  right: 0;
}
.Timeline-publication-button {
  right: 5px;
}
.Timeline-publication-button::after {
  background-image: url("./assets/book.svg");
  left: 2px;
  top: 0px;
}
.Timeline-section-title {
  border-bottom: 1px solid #E0E0E0;
  font-size: 1.1em;
  margin: 0px 30px 30px 30px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
// Animate button background.
.Timeline-button-left-transition {
  background-position: 61px bottom;
}
.Timeline-button-center-transition {
  background-position: 122px bottom;
}
.Timeline-button-right-transition {
  background-position: 183px bottom;
}
.Timeline-button-end-transition {
  transition-delay: 0.45s;
}
.Timeline-button-inter-transition {
  transition-delay: 0.225s;
}
.Timeline-button-start-transition {
  transition-delay: 0s;
}
.Timeline-connector-end-transition {
  transition-delay: 0.3s;
}
.Timeline-connector-start-transition {
  transition-delay: 0s;
}
// button color.
@media (max-width: 679px) {
  .Timeline-button {
    cursor: default;
  }
}
@media (min-width: 680px) {
  .Timeline-button {
    cursor: pointer;
  }
  .Timeline-button:hover {
    background: $primary-light radial-gradient(circle, transparent 1%, $primary-light 1%) center/15000%;
  }
}
// Connector size.
@media (min-width: 800px) {
  .Timeline-buttons {
    min-width: 600px;
  }
  .Timeline-connector {
    background: linear-gradient(to right, $light-2 0px, $light-2 212px, $primary-light 212px, $primary-light 424px, $light-2 424px, $light-2 636px);
    background-size: 636px 100%;
    width: 210px;
  }
  .Timeline-connector-left-transition {
    background-position: 636px bottom;
  }
  .Timeline-connector-right {
    left: 330px;
  }
  .Timeline-connector-right-transition {
    background-position: 212px bottom;
  }
}
// Connector size.
@media (min-width: 500px) and (max-width: 799px) {
  .Timeline-buttons {
    min-width: 400px;
  }
  .Timeline-connector {
    background: linear-gradient(to right, $light-2 0px, $light-2 112px, $primary-light 112px, $primary-light 224px, $light-2 224px, $light-2 336px);
    background-size: 336px 100%;
    width: 110px;
  }
  .Timeline-connector-left-transition {
    background-position: 336px bottom;
  }
  .Timeline-connector-right {
    left: 230px;
  }
  .Timeline-connector-right-transition {
    background-position: 112px bottom;
  }
}
// Connector size.
@media (max-width: 499px) {
  .Timeline-buttons {
    min-width: 280px;
  }
  .Timeline-connector {
    background: linear-gradient(to right, $light-2 0px, $light-2 52px, $primary-light 52px, $primary-light 104px, $light-2 104px, $light-2 156px);
    background-size: 156px 100%;
    width: 50px;
  }
  .Timeline-connector-left-transition {
    background-position: 156px bottom;
  }
  .Timeline-connector-right {
    left: 170px;
  }
  .Timeline-connector-right-transition {
    background-position: 52px bottom;
  }
}
