@import 'style/_fonts.scss';
@import 'style/_theme.scss';

.Skills-code-green {
  color: #98c376;
}
.Skills-code-grey {
  color: #a7aeba;
}
.Skills-code-purple {
  color: #c678dd;
}
.Skills-code-red {
  color: #e06c75;
}
.Skills-container {
  background-color: $light-1;
  font-family: $cursive-font;
  font-size: 1.1em;
  padding: 30px;
  padding-bottom: 50px;
}
.Skills-flex-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.Skills-list-wrapper div {
  color: #98c376;
}
.Skills-terminal {
  background-color: #282c34;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  height: auto;
  max-width: 900px;
  min-width: 280px;
}
.Skills-terminal-bar {
  background-color: #f6f6f6;
  border: 1px solid #282c34;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 25px;
  line-height: 25px;
  padding: 0 5px;
  position: relative;
  width: calc(100% - 12px);
}
.Skills-terminal-bar-title {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.Skills-terminal-button {
  border-radius: 50%;
  font-size: 1.2em;
  height: 15px;
  line-height: 15px;
  text-align: center;
  width: 15px;
}
.Skills-terminal-button-container {
  display: inline-flex;
  float: left;
  margin-top: 4px;
}
.Skills-terminal-button-container > div:not(:last-child) {
  margin-right: 5px;
}
.Skills-terminal-close {
  @extend .Skills-terminal-button;
  background-color: #ee6b60;
  border: 1px solid #d25448;
}
.Skills-terminal-code {
  font-family: $console-font;
  padding: 10px 10px;
}
.Skills-terminal-code > div:not(:last-child) {
  margin-bottom: 3px;
}
.Skills-terminal-maximize {
  @extend .Skills-terminal-button;
  background-color: #64ca57;
  border: 1px solid #57a943;
  color: #596273;
  padding-left: 1px;
  padding-top: 1px;
  transform: rotateZ(-45deg);
}
.Skills-terminal-minimize {
  @extend .Skills-terminal-button;
  background-color: #f6c050;
  border: 1px solid #d9a345;
}
.Skills-space {
  margin-right: 5px;
}
.Skills-title {
  font-family: $default-font;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}
.Skills-title:before {
  content : '';
  position: absolute;
  left    : 12.5%;
  bottom  : 0;
  height  : 2px;
  width   : 75%;
  border-bottom: 2px solid $text-dark;
}
@media (min-width: 680px) {
  .Skills-list-wrapper {
    display: inline-flex;
    flex-direction: row;
  }
  .Skills-list-wrapper div:not(:last-child):after {
    color: #a7aeba;
    content: ', ';
    margin-right: 3px;
  }
  .Skills-tab {
    margin-left: 15px;
  }
  .Skills-tab2 {
    margin-left: 30px;
  }
  .Skills-terminal {
    width: auto;
  }
}
@media (min-width: 400px) and (max-width: 679px) {
  .Skills-list-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }
  .Skills-list-wrapper div:after {
    color: #a7aeba;
    content: ', ';
  }
  .Skills-tab {
    margin-left: 30px;
  }
  .Skills-tab2 {
    margin-left: 60px;
  }
  .Skills-terminal {
    min-width: 360px;
    width: auto;
  }
}
@media (max-width: 399px) {
  .Skills-list-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }
  .Skills-list-wrapper div:after {
    color: #a7aeba;
    content: ', ';
  }
  .Skills-tab {
    margin-left: 30px;
  }
  .Skills-tab2 {
    margin-left: 60px;
  }
  .Skills-terminal {
    min-width: 260px;
    width: auto;
  }
}
