@import 'style/_fonts.scss';
@import 'style/_theme.scss';

.skills {
  background-color: $light-1;
  display: flex;
  font-family: $cursive-font;
  font-size: 1.1em;
  padding: 60px 40px 80px 40px;
  position: relative;
}
.skills__backdrop-left,
.skills__backdrop-right {
  flex-grow: 1;
  position: relative;
  z-index: 1;
}
.skills__backdrop-left > img,
.skills__backdrop-right > img {
  position: absolute;
}
.skills__inner {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.skills__line-number {
  box-sizing: border-box;
  color: #BDBDBD;
  counter-increment: lines;
  content: counter(lines);
  display: block;
  font-family: $default-font;
  flex-grow: 1;
  font-size: 14px;
  height: 21px;
  padding: 3px 0 4px 0;
  opacity: 0.35;
}
.skills__terminal {
  background-color: #282c34;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
  height: auto;
  max-width: 900px;
  min-width: 280px;
  position: relative;
  z-index: 5;
}
.skills__terminal header {
  background-color: #f6f6f6;
  border: 1px solid #282c34;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 25px;
  line-height: 25px;
  padding: 0 5px;
  position: relative;
  width: calc(100% - 12px);
}
.skills__terminal header h4 {
  left: 0;
  margin: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.skills__terminal-button {
  border-radius: 50%;
  font-size: 1.2em;
  height: 15px;
  line-height: 15px;
  text-align: center;
  width: 15px;
}
.skills__terminal-buttons {
  display: inline-flex;
  float: left;
  margin-top: 4px;
}
.skills__terminal-buttons > div:not(:last-child) {
  margin-right: 5px;
}
.skills__terminal-close {
  @extend .skills__terminal-button;
  background-color: #ee6b60;
  border: 1px solid #d25448;
}
.skills__terminal-code {
  counter-reset: lines;
  font-family: $console-font;
  padding: 10px;
}
.skills__terminal-code > div:not(:last-child) {
  margin-bottom: 2px;
}
.skill__terminal-code-export {
  margin: 20px 0 5px 0;
}
.skills__terminal-code-list div {
  color: #98c376;
}
.skills__terminal-code_green {
  color: #98c376;
}
.skills__terminal-code_grey {
  color: #a7aeba;
}
.skills__terminal-code_purple {
  color: #c678dd;
}
.skills__terminal-code_red {
  color: #e06c75;
}
.skills__terminal-code_space {
  margin-right: 5px;
}
.skills__terminal-lines {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  left: 0px;
  position: absolute;
  width: 20px;
}
.skills__terminal-maximize {
  @extend .skills__terminal-button;
  background-color: #64ca57;
  border: 1px solid #57a943;
  color: #596273;
  padding-left: 1px;
  padding-top: 1px;
  transform: rotateZ(-45deg);
}
.skills__terminal-minimize {
  @extend .skills__terminal-button;
  background-color: #f6c050;
  border: 1px solid #d9a345;
}
.skills h3 {
  color: $primary-dark;
  font-family: $default-font;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 40px;
  position: relative;
}
.skills h3:before {
  content : '';
  position: absolute;
  left    : 12.5%;
  bottom  : 0;
  height  : 2px;
  width   : 75%;
  border-bottom: 2px solid $text-dark;
}
@media (max-width: 1000px) {
  .skills__backdrop-left > img,
  .skills__backdrop-right > img {
    display: none;
  }
}
@media (min-width: 680px) {
  .skills__terminal-code-list {
    display: inline-flex;
    flex-direction: row;
  }
  .skills__terminal-code-list div:not(:last-child):after {
    color: #a7aeba;
    content: ', ';
    margin-right: 3px;
  }
  .skills__terminal-code_tab {
    margin-left: 15px;
  }
  .skills__terminal-code_tab2 {
    margin-left: 30px;
  }
  .skills__terminal {
    width: auto;
  }
  .skills__terminal-lines {
    height: calc(100% - 43px);
    top: 35px;
  }
}
@media (min-width: 400px) and (max-width: 679px) {
  .skills__terminal-code-list {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }
  .skills__terminal-code-list div:after {
    color: #a7aeba;
    content: ', ';
  }
  .skills__terminal-code_tab {
    margin-left: 30px;
  }
  .skills__terminal-code_tab2 {
    margin-left: 60px;
  }
  .skills__terminal {
    min-width: 360px;
    width: auto;
  }
  .skills__terminal-lines {
    height: calc(100% - 46px);
    top: 36px;
  }
}
@media (max-width: 399px) {
  .skills__terminal-code-list {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }
  .skills__terminal-code-list div:after {
    color: #a7aeba;
    content: ', ';
  }
  .skills__terminal-code_tab {
    margin-left: 30px;
  }
  .skills__terminal-code_tab2 {
    margin-left: 60px;
  }
  .skills__terminal {
    min-width: 260px;
    width: auto;
  }
  .skills__terminal-lines {
    height: calc(100% - 46px);
    top: 36px;
  }
}
