@import 'style/_theme.scss';

.cv__experience > .cv__experience-details:not(:last-child) {
  border-bottom: 1px solid $primary-medium;
  margin-bottom: 15px;
}
.cv__experience-details {
  padding: 0 5px;
}
.cv__experience-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cv__experience-inner-left {
  margin-right: 10px;
}
.cv__experience-title {
  font-weight: 800;
}
