$accent: #f1f10e;
$accent-2: #65ffc8;
$accent-3: #F44336;
$primary-medium: #337bae; // rgb(51, 123, 174)
$primary: #98BCBF;
$primary-dark: #1a405f;
$primary-light: #4d97cb; // rgb(77, 151, 203)
$navbar: #2f2e33; // rgb(47, 46, 51)
$light-1: #f8f1e5;
$light-2: #faf4eb; // rgb(250, 244, 235)
$text-light: #faf4eb; // rgb(248, 241, 229)
$text-dark: #2f2e33;
