$accent: #f1f10e;
$accent-light: #f1f10e;
$primary: #337bae; // rgb(51, 123, 174)
$darkPrimary: #1a405f;
$lightPrimary: #4d97cb; // rgb(77, 151, 203)
$veryDarkPrimary: #2f2e33; // rgb(47, 46, 51)
$light1: #f8f1e5;
$light2: #faf4eb; // rgb(250, 244, 235)
$text-light: #f8f1e5; // rgb(248, 241, 229)
$text-dark: #2f2e33;
