@import 'style/_fonts.scss';
@import 'style/_theme.scss';

.Missing {
  align-items: center;
  background-color: $primary-dark;
  background-image: url('../assets/png/bright-squares.png');
  color: $text-light;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  justify-content: center;
  padding: 40px;
  width: calc(100vw - 80px);
}
.Missing-home-button {
  background-color: $primary-light;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  color: $text-light;
  font-family: $default-font;
  font-size: 1.3em;
  height: auto;
  padding: 5px 10px;
  transition: background-color 0.4s;
  width: auto;
}
.Missing-home-button:focus {
  outline: 0;
}
.Missing-home-button:hover {
  background-color: $primary-medium;
}
.Missing-image {
  margin-bottom: 30px;
}
.Missing-title {
  font-family: $title-font;
  font-size: 4em;
}
.Missing-text {
  font-family: $default-font;
  font-size: 1.5em;
  margin-bottom: 20px;
  max-width: 600px;
  text-align: center;
}
@media (min-width: 700px) {
  .Missing-image {
    width: 50%;
  }
}
@media (min-width: 500px) and (max-width: 699px) {
  .Missing-image {
    width: 60%;
  }
}
@media (max-width: 499px) {
  .Missing-image {
    width: 250px;
  }
}
