.blog-item__share {
  align-items: center;
  font-weight: 500;
}
.blog-item__share > *:not(:last-child) {
  margin-right: 5px;
}
.blog-item__share > :first-child {
  margin-right: 10px;
}
.blog-item__share-button {
  cursor: pointer;
}
.blog-item__share-button:focus {
  outline: 0;
}
@media print {
  .blog-item__share {
    display: none;
  }
}
@media screen {
  .blog-item__share {
    display: flex;
  }
}
