@import 'style/_fonts.scss';
@import 'style/_theme.scss';

html {
  -webkit-text-size-adjust: 100%;
}
body {
  color: $text-dark;
  font-family: $default-font;
  margin: 0;
}
// Remove mobile highlight on touch.
a,
button,
input,
select,
textarea {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
// Printing.
@page {
  margin-bottom: 2cm;
  margin-top: 2cm;
}
