@import 'style/_reset.scss';
@import 'style/_theme.scss';

.timeline__content-expander {
  position: absolute;
  text-align: center;
  top: 2px;
}
.timeline__content-expander-button {
  @extend .button-reset;
  background-color: transparent;
  border-radius: 6px;
  box-shadow: none;
  color: #9E9E9E;
  height: 35px;
  transition: all 0.5s;
  width: 50px;
}
.timeline__content-item {
  position: relative;
}
.timeline__content-item-details {
  font-size: 0.9em;
}
.timeline__content-item-details > h5 {
  font-size: 1.2em;
  margin: 0;
  text-align: left;
}
.timeline__content-item-details > p {
  margin: 0;
  text-align: justify;
}
.timeline__content-item-end::before {
  background-color: $primary-medium;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 15px;
  margin-left: 3px;
  margin-right: 8px;
  vertical-align: -3px;
  width: 15px;
}
.timeline__content-item-inner {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 28px;
  margin-right: 15px;
  overflow: hidden;
}
.timeline__content-item-img > a {
  @extend .link-reset;
}
.timeline__content-item-img > a > img {
  @extend .img-reset;
  max-height: 180px;
  width: 180px;
}
.timeline__content-item-year {
  @extend .button-reset;
  color: $primary-medium;
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 5px;
  margin-right: auto;
  z-index: 5;
}
.timeline__content-item-year::before {
  background-color: $primary-medium;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 19px;
  margin-left: 1px;
  margin-right: 8px;
  vertical-align: -3px;
  width: 19px;
}
.timeline__content-items {
  position: relative;
}
.timeline__content-items::before {
  border-left: 5px solid $primary-medium;
  content: '';
  display: block;
  height: calc(100% - 20px);
  left: 8px;
  pointer-events: none;
  position: absolute;
  top: 5px;
}
.timeline__content-items .timeline__content-item:not(:last-child) {
  margin-bottom: 20px;
}
// Timeline content.
@media (min-width: 700px) {
  .timeline__content-expander {
    left: calc(50% - 28px);
  }
  .timeline__content-items {
    margin-left: 20px;
  }
  .timeline__content-item-details {
    flex-grow: 1;
    max-width: 700px;
  }
  .timeline__content-item-inner {
    flex-wrap: nowrap;
  }
  .timeline__content-item-img > a > img {
    margin-left: 30px;
  }
  .timeline__content-item-img {
    margin-top: 20px;
  }
}
@media (max-width: 699px) {
  .timeline__content-expander {
    left: calc(50% - 18px);
  }
  .timeline__content-items{
    margin-left: 0;
  }
  .timeline__content-item-details {
    flex-grow: 1;
    max-width: 500px;
  }
  .timeline__content-item-inner {
    flex-wrap: wrap-reverse;
  }
  .timeline__content-item-img > a > img {
    margin: 5px 0;
  }
  .timeline__content-item-img {
    margin-bottom: 15px;
    margin-top: 0;
  }
}
@media (max-width: 449px) {
  .timeline__content-item-img > a > img {
    display: block;
    height: 100%;
    width: auto;
  }
  .timeline__content-item-img {
    height: 100px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
}
// Expander button.
@media (min-width: 500px) {
  .timeline__content-expander {
    display: block;
    position: absolute;
  }
  .timeline__content-expander-button {
    padding: 5px 10px;
  }
  .timeline__content-expander-button:focus,
  .timeline__content-expander-button:hover {
    background-color: #E0E0E0;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  }
  .timeline__content-item-year:focus,
  .timeline__content-item-year:hover {
    text-decoration: underline;
  }
}
@media (max-width: 499px) {
  .timeline__content-expander {
    display: inline;
    left: 0;
    position: relative;
  }
  .timeline__content-expander-button {
    padding: 0 2px;
  }
  .timeline__content-item-details > p {
    text-align: left;
  }
}
