@import 'style/_fonts.scss';

.timeline__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: $default-font;
  margin-top: 30px;
  max-width: 1000px;
  overflow-x: hidden;
  width: calc(100vw - 60px);
}
.timeline__content-panel {
  display: flex;
  transition: transform 0.6s linear;
  width: 300%;
}
.timeline__content-panel-inner {
  transition: opacity 0.225s linear;
  width: calc(100vw - 40px);
}
.timeline__content-title {
  border-bottom: 1px solid #BDBDBD;
  font-size: 1.1em;
  margin: 0 30px 30px 0;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
