@import 'style/_fonts.scss';
@import 'style/_theme.scss';

.Footer-container {
  background-color: $primary-light;
  color: $text-light;
  font-family: $cursive-font;
  font-size: 1.1em;
  padding: 30px 30px 20px 30px;
}
.Footer-copyright {
  margin-top: 15px;
  text-align: center;
}
.Footer-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Footer-link {
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media (max-width: 449px) {
  .Footer-flex-container {
    flex-direction: column;
  }
  .Footer-flex-container > div:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (min-width: 450px) {
  .Footer-flex-container {
    flex-direction: row;
  }
  .Footer-flex-container > div:not(:last-child) {
    margin-right: 20px;
  }
}
