@import 'style/_fonts.scss';
@import 'style/_theme.scss';

.Footer-container {
  background-color: $primary-light;
  color: $text-light;
  font-family: $cursive-font;
  font-size: 1.1em;
  padding: 30px;
}
.Footer-flex-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.Footer-details {
  max-width: 900px;
  text-align: justify;
}
.Footer-title {
  font-family: $default-font;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}
.Footer-title:before {
  content : '';
  position: absolute;
  left    : 12.5%;
  bottom  : 0;
  height  : 2px;
  width   : 75%;
  border-bottom: 2px solid $text-light;
}
