@import 'style/_theme.scss';

.landing__image-beaker-fluid {
  animation: landing__image-bubble-color 30s linear infinite;
}
.landing__image-beaker-bubble1 {
  animation: landing__image-anim-bubble1 10s linear infinite, landing__image-bubble-color 30s linear infinite;
  opacity: 0;
  transform: translate(0, 0);
}
.landing__image-beaker-bubble2 {
  animation: landing__image-anim-bubble2 10s linear 2.9s infinite, landing__image-bubble-color 30s linear infinite;
  opacity: 0;
  transform: translate(0, 0);
}
.landing__image-beaker-bubble3 {
  animation: landing__image-anim-bubble3 10s linear 3.2s infinite, landing__image-bubble-color 30s linear infinite;
  opacity: 0;
  transform: translate(0, 30px);
}
.landing__image-beaker-bubble4 {
  animation: landing__image-anim-bubble4 10s linear 4.2s infinite, landing__image-bubble-color 30s linear infinite;
  opacity: 0;
  transform: translate(10px, 50px);
}
.landing__image-beaker-bubble5 {
  animation: landing__image-anim-bubble5 10s linear 5.6s infinite, landing__image-bubble-color 30s linear infinite;
  opacity: 0;
  transform: translate(0px, 65px);
}
.landing__image-beaker-bubble6 {
  animation: landing__image-anim-bubble6 10s linear 7s infinite, landing__image-bubble-color 30s linear infinite;
  opacity: 0;
  transform: translate(-10px, 75px);
}
.landing__image-beaker-bubble7 {
  animation: landing__image-anim-bubble7 10s linear 8.4s infinite, landing__image-bubble-color 30s linear infinite;
  opacity: 0;
  transform: translate(0, 0);
}
.landing__james-head {
  animation: landing__image-anim-head 4s ease-in-out 0s infinite;
  transform-origin: 310.5px 100px;
}
@keyframes landing__image-bubble-color {
  0% {
    fill: $accent;
  }
  30% {
    fill: $accent-2;
  }
  60% {
    fill: $light-1;
  }
  100% {
    fill: $accent;
  }
}
@keyframes landing__image-anim-bubble1 {
  0% {
    opacity: 0;
    transform: scale(1);
    transform: translate(0, 0);
  }
  30% {
    opacity: 1;
    transform: scale(1);
    transform: translate(6px, -23px);
  }
  70% {
    transform: scale(0.8);
    transform: translate(11px, -53px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform: translate(2px, -75px);
  }
}
@keyframes landing__image-anim-bubble2 {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  30% {
    opacity: 1;
    transform: translate(-3px, -23px);
  }
  70% {
    transform: translate(-3px, -53px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, -75px);
  }
}
@keyframes landing__image-anim-bubble3 {
  0% {
    opacity: 0;
    transform: translate(0, 30px);
  }
  30% {
    opacity: 1;
    transform: translate(2px, 2px);
  }
  70% {
    transform: translate(3px, -28px);
  }
  100% {
    opacity: 1;
    transform: translate(2px, -50px);
  }
}
@keyframes landing__image-anim-bubble4 {
  0% {
    opacity: 0;
    transform: translate(10px, 50px);
  }
  30% {
    opacity: 1;
    transform: translate(2px, 27px);
  }
  70% {
    transform: translate(0px, 3px);
  }
  100% {
    opacity: 1;
    transform: translate(10px, -30px);
  }
}
@keyframes landing__image-anim-bubble5 {
  0% {
    opacity: 0;
    transform: translate(0px, 65px);
  }
  30% {
    opacity: 1;
    transform: translate(5px, 42px);
  }
  70% {
    transform: translate(8px, 19px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, -10px);
  }
}
@keyframes landing__image-anim-bubble6 {
  0% {
    opacity: 0;
    transform: translate(-10px, 75px);
  }
  30% {
    opacity: 1;
    transform: translate(-5px, 53px);
  }
  70% {
    transform: translate(-5px, 23px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes landing__image-anim-bubble7 {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  30% {
    opacity: 1;
    transform: translate(-5px, -23px);
  }
  70% {
    transform: translate(-8px, -46px);
  }
  100% {
    opacity: 1;
    transform: translate(-30px, -75px);
  }
}
@keyframes landing__image-anim-head {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  33% {
    transform: rotateX(5deg) rotateY(12deg) rotateZ(-2deg);
  }
  67% {
    transform: rotateX(-6deg) rotateY(-10deg) rotateZ(1deg);
  }
  100% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
}
